<!-- <button class="btn-primary">click me</button> -->
<header>
    <!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo on the left -->
      <a class="navbar-brand" href="#">
        <img src="https://lifewhois.com/favicon.ico" alt="">
      </a>
  
      <!-- Search bar with icon -->
   
  
      <!-- Login and Signup on the right -->
      <div class="d-flex">
           <div class="input-group input-group-sm ">
        <input type="text" placeholder="Search" aria-label="Search" aria-describedby="search-icon">
        <span class="input-group-text" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
      </div>
        <p class=" me-2" type="button">Login</p>
        <p class="" type="button">Signup</p>
      </div>
    </div>
  </nav>
  

</header>