<!-- <button class="btn-primary">click me</button> -->
<header>
    <div class="container ">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3  ">
                <div class="logo-container">
                    <img src="https://lifewhois.com/favicon.ico" alt="" class="logo">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon">
                    <i class="bi bi-list"></i>
                </div>
                <div class="desktop-icon">
                    <ul>
                        <li>
                            <div class="search">
                                
                                <i class="bi bi-search  "></i><input type="text" class="form-control"  placeholder="search">
                                
                            </div>
                            <!-- <div class="search ">
                                <div class="search-input input-group flex-nowrap">
                                 
                                  <span class="input-group-text"><i class="bi bi-search"></i></span>
                                 
                                    <input type="text"  class="form-control" placeholder="Search">
                                </div>
                            </div> -->
                        </li>
                        <li>sign Up</li>
                        <li>Log In</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>