/* .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 120px;
    left: 110px;
    background-color: #f1ecec;
    padding-top: 20px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }

  .sidebar a:hover {
    color: #50d37c;
  } */


  .title{
    margin-left: -35px;
  }
  #main {
 
    display: flex;
    flex-direction: row-reverse;
  }
  
  #main div {
    width: 60px;
    height: 20px;
   
  }